<div class="register-form">
  <form class ="px-3 py-4 form_border center_div">
    <h1 class="text-center pt-3 font_color">Sign Up</h1>
    <p class="text-center text-secondary">Create Your Account.</p>
    <div class="container">
      <div class="form-group">
        <label for="name">Full Name</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user mr-1"></i></span>
          </div>
          <input class="form-control" type="text" id="name" placeholder="Enter name" required="required">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class ="fa fa-envelope-o"></i></span>
          </div>
          <input class="form-control" type="text" id="email" placeholder="Enter email address" required="required">
        </div>
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class ="fa fa-lock mr-1"></i></span>
          </div>
          <input class="form-control" type="password" id="password1" placeholder="Enter password" required="required">
        </div>
      </div>

      <div class="form-group">
        <label for="password2">Re-enter Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class ="fa fa-check-circle"></i></span>
          </div>
          <input class="form-control" type="password" id="password2" placeholder="Re-enter password" required="required">
        </div>
        <div class="text-center pt-5">
          <button type="submit" class="btn background_color text-light btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </form>
</div>
