<div class="container bg-light border">
  <form [formGroup]="provideForm" (ngSubmit)="onSubmit()" class="px-3 py-3">
    <h2 class="text-center font_color pt-3">Update Service</h2>
    <hr/>
    <div class="form-group">
      <label for="servicetype">Service Type</label>
      <select id="servicetype" required formControlName="servicetype" name="servicetype">
        <option *ngFor="let servicetype of provideTypes" [value]="servicetype">
          {{servicetype}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Service Price</label>
      <textarea class="form-control" type ="message" id="price" rows="3" formControlName="price" placeholder="Enter Service Price..."></textarea>
    </div>
    <div class="form-group">
      <label for="detail">Service detail</label>
      <textarea class="form-control" type ="message" id="detail" rows="3" formControlName="detail" placeholder="Enter Service details..."></textarea>
    </div>
    <div class="text-center py-4">
      <button type="submit" class="btn btn_background text-white px-4 py-2" [disabled]="!provideForm.valid">Submit</button>
    </div>
  </form>
</div>
<div *ngIf="editMode">Edit</div>
