<div>
  <span>Service Type: </span>
  <select [(ngModel)]="provideType" (change)="onSelect()">
    <option *ngFor="let servicetype of provideTypes" [value]="servicetype">
      {{servicetype}}
    </option>
  </select>
</div>
<div>
  <span>Lanugage: </span>
  <select [(ngModel)]="language" (change)="onSelect()">
    <option *ngFor="let language of languages" [value]="language">
      {{language}}
    </option>
  </select>
</div>

<div>
  <button *ngIf="page > 0" (click)="onPre()">Prev</button>
  <button *ngIf="page < pageNumber - 1" (click)="onNext()">Next</button>
  <select [(ngModel)]="page" (change)="onPageSelect()">
    <option *ngFor="let pageNum of pageNumberlist" [value]="pageNum">
      {{pageNum + 1}}
    </option>
  </select>
  <span>Page: {{page + 1}}</span>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-provide-item
      *ngFor="let provideEL of provides; let i = index"
      [provideItem]="provideEL"
      [index]="i"></app-provide-item>
  </div>
</div>
