<nav class="navbar navbar-expand-sm fixed-top navbar-dark background_color">
  <div *ngIf="userIsAuthenticated" class="container">
    <a class="navbar-brand font-weight-bold" >Service Master</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item font-weight-bold">
          <a routerLinkActive="active" routerLink="/dashboard/profile" class="nav-link mx-3">HOME</a>
        </li>

        <li *ngIf="user.role == 'Admin'" class="nav-item font-weight-bold" >
          <a class="nav-link mx-3">List of Users</a>
        </li>
        <li *ngIf="user.role == 'Admin'" class="nav-item font-weight-bold">
          <a class="nav-link mx-3">List of Service Types</a>
        </li>

        <li class="nav-item dropdown font-weight-bold">
          <a style="cursor: pointer" class="nav-link dropdown-toggle" data-toggle="dropdown"
          >ACCOUNT</a
          >
          <div class="dropdown-menu navbar_dropitem font-weight-normal">
            <div class="dropdown-divider"></div>
            <a routerLinkActive="active" routerLink="/dashboard/editProfile" style="cursor: pointer" class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a style="cursor: pointer" class="dropdown-item" (click)="onLogout()">Logout</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--guest-->
  <div *ngIf="!userIsAuthenticated" class="container">
    <a class="navbar-brand font-weight-bold" >Service Master</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown font-weight-bold">
          <a style="cursor: pointer" class="nav-link dropdown-toggle" data-toggle="dropdown"
          >ACCOUNT</a
          >
          <div class="dropdown-menu navbar_dropitem font-weight-normal">
            <div class="dropdown-divider"></div>
            <a routerLinkActive="active" routerLink="/auth/login" style="cursor: pointer" class="dropdown-item" >Login</a>
            <div class="dropdown-divider"></div>
            <a routerLinkActive="active" routerLink="/auth/signup" style="cursor: pointer" class="dropdown-item" >Register</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

