/* You can add global styles to this file, and also import other style files */
.center_div {
  margin: 0 auto;
  width: 70%;
  margin-top: 10%;
}

.login_center_div {
  margin: 0 auto;
  width: 50%;
  margin-top: 10%;
}

.background_color {
  background-color: #9cb269;
}

.font_color {
  color: #9cb269;
}

.form_border {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  text-decoration: none;
  background-color: #738745;
}

.fa.fa-user-circle {
  color: #9cb269;
  font-size: 10rem;
  position: relative;
}

.navbar_dropitem {
  color: white;
  background: #9cb269;
}

.compomentmargin {
  margin-top: 80px;
}
