<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="card center_div">
  <div class="card-header card_header_color text-white">
    My Dashboard
  </div>
  <div class="card-body">
    <div class="py-3">
      <div class="card-title pl-2 h4">Welcome, <span class="font_color">{{user.firstname}} {{user.lastname}}</span></div>
    </div>
    <hr/>
    <div class="container bg-white">
      <div class="row pt-3">
        <div class="col-3">
          <div class="h6 pt-3">Email:</div>
          <div class="h6 pt-4">Phone Number:</div>
          <div class="h6 pt-4">Location:</div>
        </div>
        <div class="col">
          <div class="h6 pt-3 text-secondary">{{user.username}}</div>
          <div class="h6 pt-4 text-secondary">{{user.phone}}</div>
          <div class="h6 pt-4 text-secondary">{{user.streetname}}</div>
          <div class="h6 pt-1 text-secondary">{{user.city}}, {{user.state}}, {{user.zipcode}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="user.role == 'Customer'" class="text-right pt-4">
      <button type="button" class="btn btn_background text-light btn-sm py-1 px-2" (click)="onRequests()">All Requests</button>
    </div>
    <!--Service-->
    <div *ngIf="user.role == 'Service'" class="card-body">
      <div *ngIf="myProvide != null">
        <div class="row">
          <div class="col-3">
            <div class="h6 pt-3">Service type:</div>
            <div class="h6 pt-4">Price:</div>
            <div class="h6 pt-4">Detail:</div>
          </div>
          <div class="col">
            <div class="h6 pt-3 text-secondary">{{myProvide.servicetype}}</div>
            <div class="h6 pt-4 text-secondary">{{myProvide.price}}</div>
            <div class="h6 pt-4 text-secondary">{{myProvide.detail}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="myProvide == null" class="text-danger text-center pt-3">
        Please fill your service information.
      </div>
    </div>
    <div *ngIf="user.role == 'Service'" class="text-right pt-4">
      <button type="button" class="btn btn_background text-light btn-sm py-1 px-2" (click)="onServiceUpdate()">Update my Service</button>
    </div>
  </div>
</div>
