<div class="container-fluid pt-2 background-color">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="py-3 form-inline">
    <h4 class="pr-5 pl-3 text-white">Create New Service</h4>
    <div class="form-group pl-5 pr-5">
      <input class="form-control" type ="text" id="name" formControlName="name" placeholder="Enter Service Name">
    </div>
    <div class="pl-5 pr-3">
      <button type="submit" class="btn btn_background text-white px-3" [disabled]="!serviceForm.valid">Submit</button>
    </div>
  </form>
</div>
