<div class="container bg-light border">
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="px-3 py-3">
    <h2 class="text-center font_color pt-3">Post New Request</h2>
    <hr/>
    <div class="form-group">
      <label for="title">Request Title</label>
      <input class="form-control" type ="text" id="title" formControlName="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="detail">Request Detail</label>
      <textarea class="form-control" type ="message" id="detail" rows="3" formControlName="info" placeholder="Enter request details..."></textarea>
    </div>
    <div class="text-center py-4">
      <button type="submit" class="btn btn_background text-white px-4 py-2" [disabled]="!requestForm.valid">Submit</button>
    </div>
  </form>
</div>
<div *ngIf="editMode">Edit</div>
