<div class="row">
  <div class = "col-xs-12">
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

      <div class="row" *ngIf="Active">
        <div class="col-xs-12">
          <button *ngIf="!editMode" type="submit" class="btn btn-success" [disabled]="!requestForm.valid">Save</button>
          <button *ngIf="editMode" type="submit" class="btn btn-success" [disabled]="!requestForm.valid">Inactive</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              [attr.disabled]="editMode ? '' : null"
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="info">Info</label>
            <input
              [attr.disabled]="editMode ? '' : null"
              type="text"
              id="info"
              formControlName="info"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row" *ngIf="editMode">
        <div class="col-xs-12">
          <div class="form-group">
            <p *ngIf="Active; else inActive">Active</p>
            <ng-template #inActive>
              <p>Inactive</p>
            </ng-template>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
