<nav class="navbar navbar-expand-sm fixed-top navbar-dark background_color">
  <div class="container">
    <a routerLink="/dashboard" class="navbar-brand font-weight-bold" >Service Master</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item font-weight-bold">
          <a routerLink="/dashboard" class="nav-link mx-3">HOME</a>
        </li>
        <li class="nav-item font-weight-bold">
          <a routerLink="/requests/new" class="nav-link mx-3">NEW REQUEST POST</a>
        </li>
        <li class="nav-item font-weight-bold">
          <a routerLink="/requests" class="nav-link mx-3">MY REQUESTS</a>
        </li>
        <li class="nav-item dropdown font-weight-bold">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
          >ACCOUNT</a
          >
          <div class="dropdown-menu navbar_dropitem font-weight-normal">
            <a routerLink="/editProfile" class="dropdown-item">Edit Profile</a>
            <a style="cursor: pointer" class="dropdown-item" (click)="onLogout()">Logout</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
