<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="login-form">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class ="px-3 py-4 form_border login_center_div bg-white">
    <div class="avatar text-center pt-3"><i class="fa fa-user-circle"></i></div>
    <div class="container pt-5">
      <div class="form-group">
        <label for="email">Email Address</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class ="fa fa-envelope-o"></i></span>
          </div>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class ="fa fa-lock mr-1"></i></span>
          </div>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
      </div>

      <div class="text-center pt-3 pb-5">
        <button type="submit" class="btn btn_background text-light btn-block">LOGIN</button>
      </div>
    </div>
  </form>
</div>

