<div class = "row">
  <div class = "col-xs-12">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class = "row">
        <div class="col-xs-12">
          <button type="submit" class ="btn btn-success" [disabled]="!profileForm.valid">Save</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input
              type="text"
              id="firstname"
              formControlName="firstname"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              id="lastname"
              formControlName="lastname"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="streetname">Street Name</label>
            <input
              type="text"
              id="streetname"
              formControlName="streetname"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="city">City</label>
            <input
              type="text"
              id="city"
              formControlName="city"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="state">State</label>
            <input
              type="text"
              id="state"
              formControlName="state"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <input
              type="text"
              id="zipcode"
              formControlName="zipcode"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="language">Language</label>
            <input
              type="text"
              id="language"
              formControlName="language"
              class="form-control">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
